@import './variables.scss';

body {
  margin: 0;

  input, select {
    border: none;
    box-sizing: border-box;
    padding: 3px;
    text-overflow: ellipsis;
    text-align: center;
  }

  a {
    text-decoration: none;
    color: inherit;

    &:hover {
      color: $base-light-blue;
    }
  }

  .modal-bg {
    height: 100vh;
    width: 100vw;
    background-color: black;
    opacity: $modal-bg-opacity;
    z-index: $modal-bg-zindex;
    position: absolute;
  }

  .--modal {
    z-index: $modal-content-zindex;
  }

}
