/* Colors */
$base-light-green: #1fff79;
$base-light-blue: #1fcbff;
$bg-lighter-blue: #ade8fd;
$bg-lightest-blue: #baedff;

$border-light-grey: #e8e8e8;
$border-grey: #737d86;
$border-white: #fcfdff;
$border-white-blue: #f1f8ff;

/* function variables */
$stage-cell-height: 55px;
$hue-shift-factor: 12;
$border-radius-med: 15px;
$border-radius-sm: 9px;

$box-shadow-color: rgba(0, 0, 0, 0.1);
$box-shadow-color-hov: rgba(0, 0, 0, 0.2);
