@import '../../styles/mixins.scss';
@import '../../styles/variables.scss';

.table-wrapper {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  height: 100vh;
  padding: 30px 10px;
  background-color: $bg-dark;

  .job-row__wrapper {
    @include row-theme;
    background-color: inherit;
  }

  .job-row__btn-wrapper {
    display: flex;
    position: relative;
    top: 45px;
    left: -105px;
  }

  .job-row {
    margin: 10px 8px;
    border-top-left-radius: $border-radius-med;
    border-bottom-left-radius: $border-radius-med;
    border-top: $border-brown;
    background-color: $bg-dark-light;
    @include box-shadow;

    &:hover {
      @include box-shadow-hover;
    }
  }

  .--editing {
    .stage__header-main {
      top: -34px;
    }

    .stage__header-sub {
      opacity: 1;
    }
  }

  .job-row__basic-info, .job-row__stages, .stage__wrapper, .stage__header, .stage__header-sub, .job-row {
    @include row-theme;
  }

  .stage__wrapper, .stage__header {
    flex-direction: column;
    background-color: $base-light-green;
    color: $font-dark-grey;

    * {
      background-color: inherit;
      box-sizing: border-box;
    }

    &:hover {
      @include box-shadow-hover;

      .stage__header-main {
        top: -34px;
      }

      .stage__header-sub {
        opacity: 1;
      }

    }

  }

  .stage__header {
    * {
      @include gradient-fill;
    }
  }
  


  .job-row__basic-info {

    * {
      @include wide-text-center;
      width: 130px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      padding: 0 10px;
      border-right: 1px solid $border-grey;
    }

    :first-child {
      width: 80px;
    }

    :last-child {
      border-right: none;
    }
  }

  .stage__header-sub, .stage__data {
    * {
      @include wide-text-center;
      width: 100px;
    }
  }

  .stage__header-main {
    @include wide-text-center;
    font-weight: 600;
    position: relative;
    top: -20px;
    border-top-left-radius: $border-radius-sm;
    border-top-right-radius: $border-radius-sm;
    border-bottom: none;
    border-top: 1px solid $border-mid-grey;
  }

  .stage__header-sub {
    margin-top: -38px;
    opacity: 0;
  }

  .stage__data {
    * {
      @include gradient-fill;
      border-right: 1px solid $bg-dark-light;
      height: $stage-cell-height;
    }

    :hover {
      @include box-shadow-hover;
    }
  }

  .btn {
    &.--add-job {
      background-color: $fg-light-grey-blue-desat;
      font-size: 24px;
      color: $dark-blue-header;
      position: absolute;
      bottom: 10px;
      right: 10px;
    }
  }

}
